<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="새로운 개념의 멀티유저 온라인게임 maplestory">
	<meta name="google-site-verification" content="OcUfX8Czn819CkCyhhvEaC0zGZCSyoGPgmk70ORTptI" />
	<meta property="og:description" content="새로운 개념의 멀티유저 온라인게임 maplestory">
	<meta name="keywords"
		content="maple, maplestory, 메이플, 메이플스토리, wizet, 위젯, 2d, 횡스크롤, 사이드스크롤, rpg, mmorpg, 온라인게임,이벤트,신규직업">
	<meta name="author" content="NEXON Korea" />
	<title>E1I4S</title>
	<link rel="stylesheet" href="resources/css/ProjectJs_1.css" type="text/css" />
	<link rel="stylesheet" href="resources/css/ProjectJs_2.css" type="text/css" />
	<script src="https://ssl.nexon.com/s1/p2/ps.min.js" charset="utf-8" data-name="PS" data-ngm="true"
		data-nxlogin="true"></script>
	<script src="https://ssl.nexon.com/s1/global/ngb_head.js"></script>
	<script src="https://lwres.nexon.com/js/maplestory/jquery-1.12.4.min.js" type="text/javascript"></script>
	<script src="https://lwres.nexon.com/js/maplestory/jquery-ui.js"></script>
	<script src="https://lwres.nexon.com/js/maplestory/index.js" type="text/javascript"></script>
	<script src="https://lwres.nexon.com/js/maplestory/jquery.mCustomScrollbar.concat.min.js"
		type="text/javascript"></script>
</head>
<body>
	<script>
		$(document).ready(function () {
			$('.sel_login_btn a:eq(0)').bind('click', function (e) {
				e.preventDefault();
				LOGIN.changeID();
			});
			$('.sel_login_btn a:eq(1)').bind('click', function (e) {
				e.preventDefault();
				close_login_pop();
			});
		});
	</script>
	<div id="wrap">
		<div id="section01">
			<div class="top_menu_wrap">
				<div class="div_inner">
					<h1 class="logo"><a href="/Home/Main"><img src="resources/img/logo3n.png" alt="" /></a></h1>
					<ul class="top_menu">
						<li>
							<a href="pointshop/pointshop">포인트상점</a>
							<ul>
								<li><a href="pointshop/pointshop">상품 목록 리스트</a></li>
							</ul>
						</li>
						<li>
							<a href="news/notice">뉴스</a>
							<ul>
								<li><a href="news/notice">공지사항</a></li>
								<li><a href="news/event">이벤트</a></li>
							</ul>
						</li>
						<li>
							<a href="guide/guide">가이드</a>
							<ul>
								<li><a href="guide/guide">가이드 게시판</a></li>
							</ul>
						</li>
						<li>
							<a href="rank/rank">랭킹</a>
							<ul>
								<li><a href="rank/rank">랭킹 게시판</a></li>
							</ul>
						</li>
						<li>
							<a href="board/free_board">커뮤니티</a>
							<ul>
								<li><a href="board/free_board">자유게시판</a></li>
								<li><a href="board/trading_board">거래 게시판</a></li>
								<li><a href="board/tip_know-how">팁 OR 노하우</a></li>
							</ul>
						</li>
						<li>
							<a href="support/bug-report_main">고객지원</a>
							<ul>
								<li><a href="javascript:void(0);"
										onclick="window.open('support/bug-report_popUp', '메이플스토리 고객센터', 'toolbar=no, scrollbars=yes, width=1024, height=800'); return false;">1:1문의<span
											class="icon_window"></span></a></li>
								<li><a href="support/bug-report_main">신고</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="top_menu_bg">
				<div class="div_inner"
					style="background:url('https://ssl.nexon.com/s2/game/maplestory/renewal/common/top_menu_line.png') left top no-repeat;">
				</div>
			</div>
			<div class="main_banner_wrap">
				<ul class="main_banner">
					<li>
						<div class="banner_img_con">
							<div class="banner_img_wrap">
								<a href="/News/Event/Ongoing/855" target="_blank"><img
										src="resources/img/bg1.png"
										alt="" /></a>
							</div>
						</div>
						<div class="div_inner main_banner_size">
							<a href="/News/Event/Ongoing/855" target="_blank">
								<h2>이벤트 1</h2>
								<p>이벤트 기간 : 2023년 11월 23일(목) 점검 후 ~ 12월 20일(수) 오후 11시 59분</p>
							</a>
						</div>
					</li>
					<li>
						<div class="banner_img_con">
							<div class="banner_img_wrap">
								<a href="/News/Event/Ongoing/853" target="_blank"><img
										src="https://lwi.nexon.com/maplestory/banner/2023/1123/main_bn_231123_A6C5BC61259325E5.jpg"
										alt="" /></a>
							</div>
						</div>
						<div class="div_inner main_banner_size">
							<a href="/News/Event/Ongoing/853" target="_blank">
								<h2>이벤트 2</h2>
								<p>이벤트 기간 : 2023년 11월 23일(목) 점검 후 ~ 12월 20일(수) 오후 11시 59분</p>
							</a>
						</div>
					</li>
					<li>
						<div class="banner_img_con">
							<div class="banner_img_wrap">
								<a href="/News/Event/Ongoing/853" target="_blank"><img
										src="https://lwi.nexon.com/maplestory/banner/2023/1123/main_bn_231123_A6C5BC61259325E5.jpg"
										alt="" /></a>
							</div>
						</div>
						<div class="div_inner main_banner_size">
							<a href="/News/Event/Ongoing/853" target="_blank">
								<h2>이벤트 3</h2>
								<p>이벤트 기간 : 2023년 11월 23일(목) 점검 후 ~ 12월 20일(수) 오후 11시 59분</p>
							</a>
						</div>
					</li>
					<li>
						<div class="banner_img_con">
							<div class="banner_img_wrap">
								<a href="/News/Event/Ongoing/853" target="_blank"><img
										src="https://lwi.nexon.com/maplestory/banner/2023/1123/main_bn_231123_A6C5BC61259325E5.jpg"
										alt="" /></a>
							</div>
						</div>
						<div class="div_inner main_banner_size">
							<a href="/News/Event/Ongoing/853" target="_blank">
								<h2>이벤트 4</h2>
								<p>이벤트 기간 : 2023년 11월 23일(목) 점검 후 ~ 12월 20일(수) 오후 11시 59분</p>
							</a>
						</div>
					</li>
				</ul>
			</div>
			<!-- pos_banner_wrap str -->
			<div class="pos_banner_wrap">
				<!-- div_inner str -->
				<div class="div_inner">
					<span class="prev_btn"><a href="#a" onclick="prev_btn()"><img
								src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/prev.png"
								alt="" /></a></span>
					<div class="pos_banner">
						<div class="pos_move">
							<dl>
								<dt><a href="#a" onclick="pos_click(0)"><img
											src="https://lwi.nexon.com/maplestory/banner/2023/1123/sub_bn_231123_28172ECEDD83CE1C.jpg"
											style="width:100px;height:40px;" alt="" /><span class=pos_line></span></a>
								</dt>
								<dd><a href="#a" onclick="pos_click(0)">이벤트 1</a></dd>
								<dd class="pos_on"></dd>
							</dl>
							<dl>
								<dt><a href="#a" onclick="pos_click(1)"><img
											src="https://lwi.nexon.com/maplestory/banner/2023/1123/main_bn_231123_A6C5BC61259325E5_thum.jpg"
											style="width:100px;height:40px;" alt="" /><span></span></a></dt>
								<dd><a href="#a" onclick="pos_click(1)">이벤트 2</a></dd>
								<dd class="pos_off"></dd>
							</dl>
							<dl>
								<dt><a href="#a" onclick="pos_click(1)"><img
											src="https://lwi.nexon.com/maplestory/banner/2023/1123/main_bn_231123_A6C5BC61259325E5_thum.jpg"
											style="width:100px;height:40px;" alt="" /><span></span></a></dt>
								<dd><a href="#a" onclick="pos_click(1)">이벤트 3</a></dd>
								<dd class="pos_off"></dd>
							</dl>
							<dl>
								<dt><a href="#a" onclick="pos_click(1)"><img
											src="https://lwi.nexon.com/maplestory/banner/2023/1123/main_bn_231123_A6C5BC61259325E5_thum.jpg"
											style="width:100px;height:40px;" alt="" /><span></span></a></dt>
								<dd><a href="#a" onclick="pos_click(1)">이벤트 4</a></dd>
								<dd class="pos_off"></dd>
							</dl>
						</div>
					</div>
					<span class="next_btn"><a href="#a" onclick="next_btn()"><img
								src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/next.png"
								alt="" /></a></span>
					<div class="pos_count">
						<dl>
							<dt>01</dt>
							<dd class="pos_len"><img
									src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/slice.png" alt="" />12
							</dd>
							<dd class="event_view_all"><a href="#a" onclick="event_onoff()"><img
										src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/window.png"
										alt="" /></a></dd>
						</dl>
					</div>
				</div>
				<!-- div_inner end -->
			</div>
			<!-- pos_banner_wrap end -->

			<div class="event_all">
				<!-- event_all_inner str -->
				<div class="event_all_inner">
					<h1 class="event_title"><img
							src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/event_title.png" alt=""></h1>
					<div class="event_all_bannerwrap">
						<!--<div class="event_all_move"> slide에서만 필요함-->

						<ul class="event_all_banner">
							<li>
								<a href="/News/Event/Ongoing/857"><img
										src="https://file.nexon.com/NxFile/download/FileDownloader.aspx?oidFile=4620732907474916057"
										alt=""></a>
								<dl>
									<dt><a href="/News/Event/857">이벤트 1</a></dt>
									<dd><a href="/News/Event/857">이벤트 기간 : 2023.11.30 (목) ~ 2023.12.06 (수) 오후 11시59분</a></dd>
								</dl>
							</li>
							<li>
								<a href="/News/Event/Ongoing/855"><img
										src="https://file.nexon.com/NxFile/download/FileDownloader.aspx?oidFile=5485423997275345099"
										alt=""></a>
								<dl>
									<dt><a href="/News/Event/857">이벤트 2</a></dt>
									<dd><a href="/News/Event/857">이벤트 기간 : 2023.11.30 (목) ~ 2023.12.06 (수) 오후 11시59분</a></dd>
								</dl>
							</li>
							<li>
								<a href="/News/Event/Ongoing/855"><img
										src="https://file.nexon.com/NxFile/download/FileDownloader.aspx?oidFile=5485423997275345099"
										alt=""></a>
								<dl>
									<dt><a href="/News/Event/857">이벤트 3</a></dt>
									<dd><a href="/News/Event/857">이벤트 기간 : 2023.11.30 (목) ~ 2023.12.06 (수) 오후 11시59분</a></dd>
								</dl>
							</li>
							<li>
								<a href="/News/Event/Ongoing/855"><img
										src="https://file.nexon.com/NxFile/download/FileDownloader.aspx?oidFile=5485423997275345099"
										alt=""></a>
								<dl>
									<dt><a href="/News/Event/857">이벤트 4</a></dt>
									<dd><a href="/News/Event/857">이벤트 기간 : 2023.11.30 (목) ~ 2023.12.06 (수) 오후 11시59분</a></dd>
								</dl>
							</li>
						</ul>
						<!--</div>-->
					</div>
					<ul class="event_all_pos">
						<li><a href="#a" onmouseover="img_on(this)" onmouseout="img_out(this)" class=active><img
									src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/pos_event_on.png"
									alt=""></a></li>

					</ul>
					<span class="event_close"><a href="#a" onclick="event_onoff()"><img
								src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/event_close.png"
								alt=""></a></span>
				</div>
				<!-- event_all_inner end -->
			</div>
		</div>
		<div id="section02">
			<div class="div_inner">
				<div class="rolling_event_wrap">
					<dl>
						<dt><a href="/News/Update/InformationCenter/113" target="_blank"><img
									src="https://lwi.nexon.com/maplestory/banner/2023/1122/bn_update_231122_TH65406A5I6I7C5B.png"
									alt="" /></a></dt>
						<dd class="rolling_title"><a href="/News/Update/InformationCenter/113" target="_blank">업데이트
								정보센터</a></dd>
						<dd class="rolling_text"><a href="/News/Update/InformationCenter/113" target="_blank">2023.11.23
								/ ver.1.2.384 업데이트 미리보기</a></dd>
					</dl>
				</div>
				<span class="game_start">
					<div class="gm_str_main_wrap">
						<a href="javascript:void(0)" onclick="alert('로그인 후 메이플ID 생성이 필요합니다.')"><img class="main_str_btn"
								src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/mp_start_btn_main.png"
								alt="" /></a>
					</div>
					<span class="download"><a href="/Common/PDS/Download" target="_blank"><img
								src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/main_game_down.png"
								alt="" /></a></span>
				</span>
				<script>
					$(document).ready(function () {
						$('#eid, #epw').bind('keydown', function (e) {
							UTILITY.onEnterKeyDown(e.currentTarget, LOGIN.loginEmail);
						});
						$('.nexon_login_button a').bind('click', function (e) {
							e.preventDefault();
							LOGIN.loginEmail();
						});
						$('#mid, #mpw').bind('keydown', function (e) {
							UTILITY.onEnterKeyDown(e.currentTarget, LOGIN.loginMaple);
						});
						$('.maple_login_button a').bind('click', function (e) {
							e.preventDefault();
							LOGIN.loginMaple();
						});
						$('.email_login .login_info a:eq(1)').bind('click', function (e) {
							e.preventDefault();
							NgbMember.SearchNexonID(136, '');
						});
						$('.tpa_login a:eq(0)').bind('click', function (e) {
							e.preventDefault();
							NgbLogin.LoginFacebook();
						});
						$('.tpa_login a:eq(1)').bind('click', function (e) {
							e.preventDefault();
							NgbLogin.LoginGoogle();
						});
						$('.tpa_login a:eq(2)').bind('click', function (e) {
							e.preventDefault();
							NgbLogin.LoginNaver();
						});
						$('.tpa_login a:eq(3)').bind('click', function (e) {
							e.preventDefault();
							NgbLogin.LoginApple();
						});
					});

					function QRLOGIN() {
						window.location = "https://nxlogin.nexon.com/common/login.aspx?sec=qr&redirect=" + document.URL;
					}
				</script>
				<!--로그인 형태 선택 창 넥슨 이메일 or 메이플게임 id : Str-->
				<div class="login">
					<span><a href="/Authentication/Login"><img src="resources/img/로그인페이지 이동.png" alt="" /></a></span>
					<br>
					<br>
					<br>
					<br>
					<br><!-- css, hover 추가하기 -->
					<span class="join_member"><a href="https://member.nexon.com/join/join.aspx?accesscode=136"
							target="_blank">회원가입</a></span>
				</div>
				<!--로그인 형태 선택 창 넥슨 이메일 or 메이플게임 id : End-->
				<div class="change_id" style="display:none;">
					<div class="email_login">
						<span class="change_id_button">
							<a href="javascript:void(0)" onclick="change_id(1)"><img
									src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/change_maple.png"
									alt="" /></a>
						</span>
						<div class="idpw_wrap">
							<ul class="idpw">
								<li>
									<input type="text" id="eid" />
									<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/placeholder_nexon.png"
										class="placeholder" alt="" />
								</li>
								<li>
									<input type="password" style="margin-top:1px;" id="epw" />
									<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/pw.png"
										class="placeholder" alt="" />
								</li>
							</ul>
							<div class="save_id_wrap">
								<div class="checkbox_custom">
									<span class="save_check_bg">
										<a href="javascript:void(0)" onclick="check_box(this)"><img
												src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/save_id_check.png"
												alt=""></a>
									</span>
									<span class="save_id_font"><img
											src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/save_id.png"
											alt=""></span>
									<input type="checkbox">
								</div>
							</div>
						</div>
						<span class="nexon_login_button"><a href="#a">로그인</a></span>
						<div class="login_info">
							<span><a href="https://member.nexon.com/join/join.aspx?accesscode=136" target="_blank"><img
										src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/join_member.png"
										alt=""></a></span>
							<span><a href="#a"><img
										src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/id_password.png"
										alt=""></a></span>
						</div>
					</div>
					<div class="gameid_login">
						<span class="change_id_button">
							<a href="javascript:void(0)" onclick="change_id(0)"><img
									src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/change_nexon.png"
									alt="" /></a>
						</span>
						<form id="frmLoginMaple" method="post" action="/Authentication/Login">
							<input type="hidden" name="RedirectTo" value="/Home/Main" />
							<div class="idpw_wrap">
								<ul class="idpw">
									<li>
										<input type="text" id="mid" name="ID" />
										<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/placeholder_maple.png"
											class="placeholder" alt="" />
									</li>
									<li>
										<input type="password" style="margin-top:1px;" id="mpw" name="Password" />
										<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/pw.png"
											class="placeholder" alt="" />
									</li>
								</ul>
								<div class="save_id_wrap">
									<div class="checkbox_custom">
										<span class="save_check_bg">
											<a href="javascript:void(0)" onclick="check_box(this)"><img
													src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/save_id_check.png"
													alt=""></a>
										</span>
										<span class="save_id_font"><img
												src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/save_id.png"
												alt=""></span>
										<input type="checkbox">
									</div>
								</div>
							</div>
							<span class="maple_login_button"><a href="#a">로그인</a></span>
							<div class="login_info">
								<span><a href="/Account/Join"><img
											src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/join_member.png"
											alt=""></a></span>
								<span><a href="https://trans.nexon.com/trans/transemailid.aspx" target="_blank"><img
											src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/email_change.png"
											alt=""></a></span>
								<span><a href="/Account/Search/ID"><img
											src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/id_password.png"
											alt=""></a></span>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
		<div class="after_info_lurking">
			<div class="lv_info">
				<span class="lv_line"></span>
				<div class="div_inner">
					<dl class="char_lv_info">
						<dt><img src="" alt=""></dt>
						<dd class="char_id">님</dd>
						<dd class="lv_info_font">레벨 정보</dd>
					</dl>
					<div class="maple_id_info">
						<dl>
							<dt class="level_font">LEVEL</dt>
							<dd class="level"></dd>
						</dl>
						<dl>
							<dt>종합랭킹</dt>
							<dd>
								<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/line.png" alt="">
							</dd>
							<dd class="ranking_numb">0위</dd>
						</dl>
						<dl>
							<dt>월드랭킹</dt>
							<dd>
								<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/line.png" alt="">
							</dd>
							<dd class="ranking_numb">0위</dd>
						</dl>
						<dl>
							<dt>직업랭킹</dt>
							<dd>
								<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/line.png" alt="">
							</dd>
							<dd class="ranking_numb">0위</dd>
						</dl>
						<dl>
							<dt>인기도랭킹</dt>
							<dd>
								<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/line.png" alt="">
							</dd>
							<dd class="ranking_numb">0위</dd>
						</dl>

						<dl>
							<dt>유니온랭킹</dt>
							<dd>
								<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/line.png" alt="">
							</dd>
							<dd class="ranking_numb">0위</dd>
						</dl>
						<dl>
							<dt>업적랭킹</dt>
							<dd>
								<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/line.png" alt="">
							</dd>
							<dd class="ranking_numb">0위</dd>
						</dl>
					</div>
					<span class="lv_close"><a href="javascript:void(0)" onclick="lv_close()"><img
								src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/lv_close.png"
								alt=""></a></span>
				</div>
			</div>
		</div>
		<!-- section03 str -->
		<div id="main_board_sec">
			<div class="div_inner">
				<!--메인 캐시 배너-->
				<div class="main_cash_bn">
					<ul class="main_cash_con">
						<li><a href="https://www.instagram.com/" target="_self"><img src="resources/img/zzzz.png"
									alt="" /></a></li>
						<li><a href="https://www.instagram.com/" target="_self"><img src="resources/img/zzzz.png"
									alt="" /></a></li>
						<li><a href="https://www.instagram.com/" target="_self"><img src="resources/img/zzzz.png"
									alt="" /></a></li>
						<li><a href="https://www.instagram.com/" target="_self"><img src="resources/img/zzzz.png"
									alt="" /></a></li>
						<li><a href="https://www.instagram.com/" target="_self"><img src="resources/img/zzzz.png"
									alt="" /></a></li>
					</ul>
					<div class="main_dot_wrap">
						<ul>
							<li class="active"><a href="#a" onclick="m_pos_cash_bn(0)">1</a></li>
							<li class=""><a href="#a" onclick="m_pos_cash_bn(1)">2</a></li>
							<li class=""><a href="#a" onclick="m_pos_cash_bn(2)">3</a></li>
							<li class=""><a href="#a" onclick="m_pos_cash_bn(3)">4</a></li>
							<li class=""><a href="#a" onclick="m_pos_cash_bn(3)">5</a></li>
						</ul>
					</div>
				</div>
				<!--공지 리스트-->
				<div class="client_update_wrap2">
					<div class="client_update2">
						<ul>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="https://maplestory.nexon.com/board/7/142800" target="_self">공지사항 1</a>
									</dd>
									<dd class="info">엔젤릭버스터 홍보물과 관련한 논란에 대해 사과드립니다.</dd>
								</dl>
							</li>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="/news/update/726" target="_self">공지사항 2</a>
									</dd>
									<dd class="info">11/23(목) 업데이트된 내용을 확인해주세요.</dd>
								</dl>
							</li>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="/news/update/727" target="_self">공지사항 3</a>
									</dd>
									<dd class="info">11/23(목) 엔젤릭버스터 리마스터 내용을 확인해주세요.</dd>
								</dl>
							</li>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="https://maplestory.nexon.com/News/Event/Result/851" target="_self">공지사항
											4</a>
									</dd>
									<dd class="info">12/3(일)까지 배송정보를 입력해주세요.</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="client_update_wrap2">
					<div class="client_update2">
						<ul>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="자게 추천 top4-1" target="_self">th:text>> title_1</a>
									</dd>
									<dd class="info">엔젤릭버스터 홍보물과 관련한 논란에 대해 사과드립니다.</dd>
								</dl>
							</li>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="자게 추천 top4-2" target="_self">th:text>> title_2</a>
									</dd>
									<dd class="info">11/23(목) 업데이트된 내용을 확인해주세요.</dd>
								</dl>
							</li>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="자게 추천 top4-3" target="_self">th:text>> title_3</a>
									</dd>
									<dd class="info">11/23(목) 엔젤릭버스터 리마스터 내용을 확인해주세요.</dd>
								</dl>
							</li>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="자게 추천 top4-4" target="_self">th:text>> title_4</a>
									</dd>
									<dd class="info">12/3(일)까지 배송정보를 입력해주세요.</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="stick-ncc"></div>
		<!-- footer str -->
		<div id="footer" style="">
			<div class="div_inner">
				<div class="footer_info">
					<ul>
						<!--페이지 아래 태그 삭제-->
					</ul>
					<p>
						<span>(주)E1I4S 대표이사</span>
						<span style="margin-left:5px;">윤범헌 김예림 변장철 송경호 박현지</span>
						<span style="margin-left:5px;">전화: 0000-0000</span>
						<span>팩스:0502-258-8322</span>
						<br />
						<span>E-mail:xxxxxxx@xxxxxx.com</span>
						<span style="margin-left:5px;">사업자등록번호 : xxx-xx-xxxxx호</span>
						<span style="margin-left:5px;">통신판매업 신고번호 : 제2013-경기성남-1659호</span>
					</p>
					<span class="copyright">ⓒ NEXON Korea Corporation All Rights Reserved.</span>
					<span class="footer_logo">
						<a href="/" target="_blank"><img src="resources/img/zzzz.png" alt="" /></a>
					</span>
				</div>
			</div>
		</div>
		<!-- footer end -->
	</div>
</body>
</html>